<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">

  <div class="login-wrapper">

    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Bienvenido</ion-card-title>
        <ion-card-subtitle class="ion-text-center">Ingresa tus credenciales</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm">

          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="email" formControlName="email" placeholder="Introduce tu email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password" placeholder="Introduce un mínimo de 6 caracteres"></ion-input>
          </ion-item>

          <ion-button expand="block" class="ion-margin-top" (click)="login()">Login</ion-button>
          <ion-button expand="block" fill="outline" color="secondary" (click)="register()">Register</ion-button>

        </form>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
