.splash-container {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

ng-lottie.logo {
  width: 80vw;
  max-width: 500px;
  height: auto;
  position: relative;
}

ng-lottie.progress {
  width: 60vw;
  max-width: 300px;
  height: auto;
  position: absolute;
  top: 75%; /* ajusta según quieras */
}
