<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Eventos</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
    <ion-card-header>🔥 ¡Atención, moteros! 🔥
Este 8 y 9 de noviembre te esperamos en La Cantera para vivir una concentración de motos al mejor estilo argentino 🏍️🇦🇷
Prepárate para dos días llenos de ruido, camaradería y pura pasión por las dos ruedas. Habrá:
🍖 Choripanes y empanadas auténticas, bien argentinas.
🎸 Conciertos en vivo durante las dos jornadas (Toda la información de bandas y horarios están en la imagen)
🏍️SORTEO de una mini moto !! ¿Te sientes con suerte? 🍀
Traé tu moto, tus amigos y ganas de pasarla bien. 🍻</ion-card-header>
    <ion-card-content>

      <a href="https://www.facebook.com/photo/?fbid=1114399590856447&set=a.559704026326009&__cft__[0]=AZV76qZktg40jLQrzdxwDYP5dhiTdQxSIjnP-uZDbBj1HLszHHxmjLPFQxJZP7vFUXeV8EobSnbFnorOal8LAzsmRD4PAqaH_tdPKXZM23fKdilh_s4s7DLuWIFMR26HvA_HEoK2WTG1PDgSKR9JkHaC&__tn__=EH-R"><img src="https://scontent.fbcn7-3.fna.fbcdn.net/v/t51.82787-15/565615886_18426068794128348_2293472399690128599_n.jpg?stp=dst-jpg_s640x640_tt6&_nc_cat=110&ccb=1-7&_nc_sid=127cfc&_nc_ohc=qPXcyH8dAHgQ7kNvwEH76It&_nc_oc=AdlNTnAx07ybXp6PmK5hr-b2E5YXBBHjNfnguNowaU-HCqnUxV9evX1t2Au4fcG2oOA&_nc_zt=23&_nc_ht=scontent.fbcn7-3.fna&_nc_gid=79wVD8w-_pQ5nE-I83VR6Q&oh=00_AffQsplpEAjSzpiKKewftOykwQXgDIUgKDgqRwfGBkZ7XQ&oe=68FC4CC5">
      </a>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>El 19 de Octubre nos vamos de parranda a brindar por el 3er Aniversario de Carburador Springs !!!! Y de paso disfrutar de una mañana de motos y coches americanos!!!...ah y de unas 🍻🍻🍻. ♠️🖕🏻
Sorteo de una petaca Zarko's Road, entre todos los asitentes.(1€)
*Punto de encuentro: La fleca de la Maria (Terrassa)
*Hora: 9:00h  (9:15h nos vamos)
Zarko's Road "Kustom & Rock Association" on the road again ♠️🖕🏻</ion-card-header>
    <ion-card-content>

      <a href="https://www.facebook.com/groups/131097933727953/?multi_permalinks=3114873148683735&hoisted_section_header_type=recently_seen&__cft__[0]=AZWZ7d7ruC1Hnmcb3gGoTVRtX-EMOwXH7cFBbwFVi5gwZtVDgG-ma_Z_DMqcE1SUuB2Lp4bvcgpwS_EuY34aiqpcJdM5fqcSqXdBuVD-kmEIzoVwsBqDdzC9h2hL23gGxL9fXm-o5sCnt9qEWzif7noLkPSri67ttTlH4ZfY0nCecg&__tn__=%2CO%2CP-R"><img src="https://scontent.fbcn7-2.fna.fbcdn.net/v/t39.30808-6/561357406_1126283683046707_470333310965124312_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=cmlSNdvY9NEQ7kNvwEUL4VJ&_nc_oc=AdnxVRS-pv4eEFoSiP5d8R16DP5tyAqbxmJrodo0C6x2q6X1TZn36omuyhXy9Tt8sfk&_nc_zt=23&_nc_ht=scontent.fbcn7-2.fna&_nc_gid=xUX21fztlKtW1anCRura0Q&oh=00_AffH2-MslYtPBjPS5Lp_XwhqI60WQwB1mYrvL8rWWmmv6Q&oe=68FC4A45">
      </a>
    </ion-card-content>
  </ion-card>
</ion-content>
